<div class="w-auto max-w-[800px] mt-[10vh] flex flex-col">
    <h1 class="flex-1 text-center lg:text-start text-4xl">
        Coming soon to your Clan's Discord server
    </h1>
    <div
        class="flex flex-col text-center lg:self-end lg:text-start flex-1 lg:mr-8 mt-3"
    >
        <h2 class="text-4xl">Varrock Stray Dog</h2>
        <p class="-mt-1 lg:-mt-3">Loot & Pet tracking Bot</p>
    </div>
</div>

<div class="flex flex-col lg:flex-row gap-3 mt-10 mb-10 lg:mb-0">
    <varrock-stray-dog-osrs-button [href]="inviteUrl" target="_INVITE">
        <span>Try me out?</span>
        <span>Invite BETA bot</span>
    </varrock-stray-dog-osrs-button>

    <varrock-stray-dog-osrs-button [href]="discordUrl" target="_DISCORD">
        <span>Need help?</span>
        <span>Join discord</span>
    </varrock-stray-dog-osrs-button>

    <varrock-stray-dog-osrs-button>
        <span>What can I do?</span>
        <span>View commands</span>
    </varrock-stray-dog-osrs-button>
</div>

<div
    class="flex flex-col lg:absolute lg:h-screen lg:justify-between lg:top-0 lg:left-0 lg:pl-4 lg:py-4"
>
    <div class="flex flex-col" *ngIf="apiData">
        <p>API: {{ apiData ? 'Online' : 'Offline' }}</p>
        <ng-container *ngIf="apiData">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ apiData?.uptime }}
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ apiData?.container }}
            </p>
        </ng-container>

        <p>Bot: {{ apiData?.bot ? 'Online' : 'Offline' }}</p>
        <ng-container *ngIf="apiData?.bot">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ apiData?.bot?.uptime }}
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {{ apiData?.bot?.container }}
            </p>

            <br />
            <div class="text-center lg:text-start">
                <p>Guilds: {{ apiData?.bot?.guilds ?? 0 }}</p>
                <p>Users: {{ apiData?.bot?.users ?? 0 }}</p>
            </div>
        </ng-container>
    </div>

    <div class="flex flex-col mt-20 text-center lg:text-start">
        <a href="https://github.com/varrock-stray-dog" target="_GITHUB"
            >Github</a
        >
        <a href="https://jurien.dev" target="_me">Author</a>
    </div>
</div>
