:host {
    position: fixed;
    height: 100vh;
    width: 100vw;

    background: url('/assets/coming-soon.png') center center no-repeat;
    background-size: cover;

    display: flex;

    position: relative;

    justify-content: center;
    align-items: flex-start;

    h1,
    h2,
    p,
    a {
        color: #ffff00;
        margin: 0;
        font-weight: normal;
        filter: drop-shadow(2px 2px 0px #000000);
        white-space: pre-line;
    }

    h1 {
        // filter: drop-shadow(.07em .07em 0px #000000);
        letter-spacing: 0.1em;
    }

    .server-stats {
        position: absolute;
        top: 2rem;
        left: 2rem;

        display: flex;
        flex-direction: column;
    }

    .message {
        width: auto;
        max-width: 800px;

        padding: 2rem;
        margin-top: 10vh;

        display: flex;
        flex-direction: column;

        h1,
        .name {
            flex: 1;
        }
        .name {
            display: flex;
            flex-direction: column;

            align-self: flex-end;
            margin-right: 2rem;

            margin-top: 0.7rem;

            h2 {
                font-size: 3rem;
            }

            p {
                margin-top: -0.6rem;
            }
        }
    }
}
