@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RuneScape UF';
    src: url('/assets/fonts/RuneScape-UF.woff2') format('woff2'),
        url('/assets/fonts/RuneScape-UF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html,
    body {
        @apply font-osrs text-yellow;

        h1,
        h2,
        p,
        a {
            @apply drop-shadow-osrs tracking-wide whitespace-pre-line leading-5;
        }
    }
}
